
* {
    font-family: 'Times New Roman', serif;
}

.nav
h1 {
    font-size: 50px;
    margin-bottom: 25px;
    font-weight: bold;
}
.search-data {
    font-size: 20px;
}
.search-data input {
    width: 210px;
    color: #c79c60;
    border: 1px solid #c79c60;
    border-radius: 10px ;
    text-align: center;
    height: 40px;
    font-size: 25px;
}
.search-data label {
    font-size: 25px;
}
.search-data input[type="submit"]  {
    background-color: #302f2f;
}
.search-data input[type="submit"]:hover {
    background-color: black;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin:10px 25%;
    font-size: 20px;
    width: 50%;
}
th {
    background-color: black;
    color: #c79c60;
    text-align: center;
    padding: 5px;
}
td {
    background-color: #c79c60;
    color: black;
    margin-bottom: 5px;
}

th,tr,td {
    border: 1px solid black;
}

img {
    width: 150px;
    height: 150px;
}
.main-container {
    text-align: center;
    align-items: center;
}

.orderDate {
    display:inline-block;
}
.show-image {
    color: #c79c60;
    width: fit-content;
    margin: 5px 50%;
    border: none;
    text-align: center;
    background-color: #302f2f;
    border: none;
    border-radius: 10px;
}
.show-image:hover {
    background-color: black;
}
.cancel {
    background-color: #302f2f;
    color: #c79c60;
    border: none;
    border-radius: 10px;
}
.cancel:hover {
    background-color: black;
}
.total {
    /* background-color: red; */
    width: 90px;
    display: block;
    justify-content: end;
    margin: 0 70%;
    /* background-color: black; */
    color: #000000;
    font-size: 25px;
}
/* show products */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
img{
    max-width: 150px;
    height: 100px;
}
.product {
    display: flex; 
    margin: 40px 25px;
}
.salary {
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: relative;
    margin: -20px;}
.salary span {
    position: relative;
    top: 30%;
    font-size: 20px;
}
.title {
    height: fit-content;
    position: relative;
    top: 100%;
    left: 45%;
    font-size: 20px;
}
tbody #btnedit {
    background-color: red !important;
    text-decoration: none;
}




